:root {
    --color-one: white;
    --color-two: #d8cac1;
    --color-three: #a9988e;
    --color-four: #6e625b;
}

.complete-header {
    flex-direction: column;
}

.header {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: var(--color-two);
    color: var(--color-four);
}

.header .name {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    font-weight: 100;
    margin: 0;
    padding: 20px;
}

.nav {
    list-style: none;
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 5px;
    width: 80%;
    font-family: 'Poppins', sans-serif;
}

.nav-item {
    padding: 2px 20px;
}

.nav-item a {
    color: var(--color-three);
    text-decoration: none;
}

.nav-item a:hover {
    color: var(--color-one);
}

.nav-item .active {
    color: var(--color-four);
}

.hamburger-nav {
    display: none;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    align-items: center;
    margin-right: 20px;
    font-size: xx-large;
}

.hidden-nav {
    display: none;
    background-color: var(--color-five);
}

.hidden-nav-links {
    list-style: none;
    padding: 0;
    width: 100%;
}

.hidden-nav-links li {
    padding-left: 10px;
}

.hidden-nav-item a {
    text-decoration: none;
    width: 100%;
    color: var(--color-three);
}

.hidden-nav-item:hover {
    background-color: var(--color-one);
}

.hidden-nav-item .active {
    color: var(--color-four);
}

@media only screen and (max-width: 650px) {
    .hamburger-nav {
        display: flex;
    }
}